@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "inter-bold";
  src: url("/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "charlie";
  src: url("/fonts/Charlie-Regular.ttf") format("truetype");
}

body {
  font-family: "inter", sans-serif;
  background: #1f2550;
}

.title {
  font-family: "charlie", -apple-system, sans-serif;
}

.logo {
  font-family: "inter-bold", -apple-system, sans-serif;
}

.form {
  font-family: -apple-system, sans-serif;
}

.fc-view-harness {
  background: #00000092;
  height: max-content;
}

.fc .fc-daygrid-day.fc-day-today {
  background: rgba(93, 93, 93, 0.24);
}

.fc .fc-daygrid-day-bg {
  display: none;
}

.fc-header-toolbar {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 8px;
  background: #1f2550;
}

::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #4d4e4e;
}

img {
  pointer-events: none;
}